.context {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    padding: 15px 25px 35px 15px;
    background-color: aquamarine;
    width: fit-content;
    border-style: solid;
    border-radius: 30px 30px 30px 30px;
    border-width: 3px 3px 3px 3px;
    border-color: blue;
    min-width: 210px;
}

.full {
    width: auto;
}

.loginForm {
    width: 100%
}

.header {
    text-align: center;
}
.loginInfo {
    margin: 5px 0 10px 0;
    color: red;
    text-align: center;
}

.loginButton {
    margin-top: 25px;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
    border-radius: 10px 10px 10px 10px;
}

.info {
    width: 70%;
    text-align: center;
    font-size: small;
    color: blue;
}

.registerItem {
    display: block;
}

@media (min-width: 260px) {
    .registerLabel {
        padding-right: 1%;
        display: inline-block;
        text-align: right;
        width: 10ch;
    }

    .registerField {
        display: inline-block;
        width: calc(97% - 10ch);
    }
}

@media (max-width: 259px) {
    .registerLabel {
        display: block;
    }

    .registerField {
        display: block;
    }

}

.registerInfo {
    padding: 0 1% 0 1%;
    text-align: justify;
    font-style: italic;
    color: blue;
}

.registerField input {
    width: 100%;
}

h1 {
    margin: 0 0 10px 0;
}

table {
    border-top: 1px solid black;
}

tr:last-child td {
    border-top: 1px solid black;
}

input {
    margin: 5px 0 5px 0;
}
