body {
    margin: 0 0 0 0;
    display: flex;
    overflow: hidden;
}

.main {
    margin: 0 auto;
    padding: 5px 15px 0 5px;
    background-color: azure;
    height: 100dvh;
    width: 100%;
}

.line {
    display: block;
    height: 3px;
    border: none;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.button-line {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2pt 10pt 2pt 10pt;
    background-color: azure;
    border: 2px inset black;
    outline: 2px outset black;
    outline-offset: 2px;
    border-start-start-radius: 1pt;
    border-start-end-radius: 1pt;
    border-end-start-radius: 1pt;
    border-end-end-radius: 1pt;
    max-width: 550pt;
}

.button {
    margin: 2pt auto;
    padding: 5pt 10pt 5pt 10pt;
    width: calc(100% - 5pt);
    border: 2px solid blue;
    border-start-start-radius: 5pt;
    border-start-end-radius: 5pt;
    border-end-start-radius: 5pt;
    border-end-end-radius: 5pt;
    text-align: center;
}

.button_press {
    background-color: darkgray;
    cursor: not-allowed;
}

.button_unpress {
    cursor: pointer;
}
