body {
    margin: 0 0 0 0;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.main {
    margin: 0 auto;
    padding: 5px 15px 0 5px;
    background-color: azure;
    height: 100%;
    width: 100vb;
    overflow: auto;
}

.line {
    display: block;
    height: 3px;
    border: none;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.button-line {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2pt 10pt 2pt 10pt;
    background-color: azure;
    border: 2px inset black;
    outline: 2px outset black;
    outline-offset: 2px;
    border-start-start-radius: 1pt;
    border-start-end-radius: 1pt;
    border-end-start-radius: 1pt;
    border-end-end-radius: 1pt;
    max-width: 500pt;
}

.button {
    margin: 2pt auto;
    padding: 5pt 10pt 5pt 10pt;
    width: calc(100% - 5pt);
    border: 2px solid blue;
    border-start-start-radius: 5pt;
    border-start-end-radius: 5pt;
    border-end-start-radius: 5pt;
    border-end-end-radius: 5pt;
    text-align: center;
}

.button_press {
    background-color: darkgray;
    cursor: not-allowed;
}

.button_unpress {
    cursor: pointer;
}

/************************************
  messages
 *************************************/

.divMessage {
    margin: 10pt auto;
    display: block;
    height: calc(100vh - 66pt);

    background-color: aquamarine;
    max-width: 500pt;
    padding: 2pt 5pt 2pt 10pt;
    border: 2px inset black;
    outline: 2px outset black;
    outline-offset: 2px;
    border-start-start-radius: 5pt;
    border-start-end-radius: 5pt;
    border-end-start-radius: 5pt;
    border-end-end-radius: 5pt;

}

.messageCanvas {
    height: calc(100% - 60pt);
    margin: 10pt auto;
    padding: 10pt 0 0 0;
    background-color: beige;
    overflow: hidden;
}

.messageBox {
    display: inline-block;
    width: 100%;
}

.messageOpponent {
    margin: 0 4vw 0 1vw;
    padding: 0 1vw 0 1vw;
    border: 1px solid black;
    border-start-start-radius: 10pt;
    border-start-end-radius: 10pt;
    border-end-start-radius: 10pt;
    border-end-end-radius: 10pt;
    background-color: azure;
    display: inline-block;
    float: left;
}

.messageMy {
    margin: 0 1vw 0 4vw;
    padding: 0 1vw 0 1vw;
    border: 1px solid black;
    border-start-start-radius: 10pt;
    border-start-end-radius: 10pt;
    border-end-start-radius: 10pt;
    border-end-end-radius: 10pt;
    background-color: aquamarine;
    display: inline-block;
    float: right;
}

.inputMessage {
    display: block;
    height: auto;
}

.sendMessageText {
    padding: 0 0 0 0;
    width: calc(100% - 29pt);
}

.btnSend {
    float: right;
    margin: 0 0 0 0;
}

/************************************
  Psaltir
 *************************************/

.psaltir {
    margin: 0.5vh 0.7vw 0.5vh 1.5vw;
    border-style: solid;
    border-width: 2pt;
    padding: 0.5vh 0.7vw 0.5vh 1vw;
}

.psaltir-info {
    display: inline-block;
    max-height: 5vh;
    background-color: aquamarine;
    overflow: hidden;
}

.psaltir-info-date {
    display: inline-block;
    float: left;
}

.psaltir-info-user {
    display: inline-block;
    float: right;
}

.psaltir-info-calendar {
    display: inline-block;
    float: left;
}

.kafisma {
    display: block;
    height: calc(85vh);
    background-color: beige;
    overflow: auto;
}

.kafismata-head {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding: 0 0 1vw 0;
}
.psalom-head {
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 0 0 1vw 0;
}
.psaltir-preopening-prayers {
    text-align: justify;
    font-style: italic;
    padding: 1vw 0 1vw 0;
}

.psaltir-open-prayers {
    text-align: justify;
    font-weight: bold;
    padding: 1vw 0 1vw 0;
}

.partisipant-list {
    text-align: justify;
    padding: 1vw 0 1vw 0;
}

.psalom-text {
    text-align: justify;
    font-family: cursive;
    font-size: large;
}

.psalom-line-number {
    color: red;
    font-style: italic;
}

.slava-head {
    text-align: justify;
    font-style: italic;
    padding: 1vw 0 1vw 0;
}

.slava-head-begin {
    font-style: normal;
    font-weight: bold;
}

.memorial-list-head {
    text-align: justify;
    padding: 1vw 0 1vw 0;
}

.memorial-list-head-begin {
    font-weight: bold;
}

.memorial-list {
    text-align: left;
    font-weight: bold;
}

.memorial-list-begin {
    font-weight: normal;
}

.slava-foot {
    padding: 1vw 0 1vw 0;
}

