body {
    margin: 0 0 0 0;
    display: flex;
    overflow: hidden;
}

#main {
    margin: 0 auto;
    padding: 5px 15px 0 5px;
    background-color: azure;
    height: 100dvh;
    width: 100%;
}

.line {
    display: block;
    height: 3px;
    border: none;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

textarea {
    resize: none;
}