#menu {
    position: fixed;
    margin: 0 auto;
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2pt 10pt 2pt 10pt;
    background-color: azure;
}

#menuContext {
    display: block;
}

.button {
    display: block;
    margin: 2pt auto;
    padding: 5pt 10pt 5pt 10pt;
    width: 100%;
    text-align: left;
}

.button_press {
    background-color: darkgray;
    cursor: not-allowed;
}

.button_unpress {
    cursor: pointer;
}
