/************************************
  Psaltir
 *************************************/

.psaltir {
    margin: 0.5dvh 0.7vw 0.5dvh 1.5vw;
    border-style: solid;
    border-width: 2pt;
    padding: 0.5dvh 0.7vw 0.5dvh 1vw;
}

.psaltir-info {
    display: grid;
    height: 100%;
    background-color: aquamarine;
    grid-template-columns: 1fr auto;
}

.psaltir-info-date {
    justify-self: start;
    white-space: nowrap;
}

.psaltir-info-user {
    justify-self: end;
    white-space: nowrap;
}

.psaltir-info-calendar {
    display: none;
    float: left;
}

.kafisma {
    display: block;
    height: calc(85dvh);
    background-color: beige;
    overflow: auto;
}

.kafismata-head {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding: 0 0 1vw 0;
}
.psalom-head {
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 0 0 1vw 0;
}
.psaltir-preopening-prayers {
    text-align: justify;
    font-style: italic;
    padding: 1vw 0 1vw 0;
}

.psaltir-open-prayers {
    text-align: justify;
    font-weight: bold;
    padding: 1vw 0 1vw 0;
}

.partisipant-list {
    text-align: justify;
    padding: 1vw 0 1vw 0;
}

.psalom-text {
    text-align: justify;
    font-family: cursive;
    font-size: large;
}

.psalom-line-number {
    color: red;
    font-style: italic;
}

.slava-head {
    text-align: justify;
    font-style: italic;
    padding: 1vw 0 1vw 0;
}

.slava-head-begin {
    font-style: normal;
    font-weight: bold;
}

.memorial-list-head {
    text-align: justify;
    padding: 1vw 0 1vw 0;
}

.memorial-list-head-begin {
    font-weight: bold;
}

.memorial-list {
    text-align: left;
    font-weight: bold;
}

.memorial-list-begin {
    font-weight: normal;
}

.slava-foot {
    font-style: italic;
    padding: 1vw 0 1vw 0;
}

