<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пароль</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div th:with="isHacking=${nick == null || sessionId == null}">
    <div class="Hacking" th:if="${isHacking}">
        <img src="bmp/cats.jpg" height="913" width="512"/>
    </div>
    <div class="context" th:if="!${isHacking}">
        <div class="header">
            <h1>Задайте пароль</h1>
        </div>
        <form class="loginForm" action="/setpassword" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="hidden" name="sessionId" th:value="${sessionId}"/>
            <input type="hidden" name="nick" th:value="${nick}"/>
            <input type="hidden" name="needAccept" th:value="${needAccept}"/>
            <div class="info" th:if="${not #lists.isEmpty(passwordRemarks)}">
                <ul>
                    <li th:each="passwordRemark : ${passwordRemarks}" th:text="${passwordRemark}"></li>
                </ul>
            </div>
            <div class="registerItem">
                <div class="registerLabel">
                    Введите пароль:
                </div>
                <div class="registerField">
                    <input type="password" name="newPassword"/>
                </div>
            </div>
            <div class="registerItem">
                <div class="registerLabel">
                    Повторите пароль:
                </div>
                <div class="registerField">
                    <input type="password" name="reEnteredPassword"/>
                </div>
            </div>
            <input type="submit" class="loginButton" value="Установить пароль"/>
        </form>
    </div>
</div>
</body>
</html>