<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div>
    <div class="context">
        <div class="header"><h1><span th:text="${errorHead}"/></h1></div>
        <div class="info">
            <span th:text="${errorText}"></span>
        </div>
        <input type="button" class="loginButton" value="Перейти ко входу."
               onclick="window.location.href='/login'"/>
    </div>
</div>
</body>
</html>